*,*::before,*::after{
    box-sizing: border-box;

}

:root{
    --ff-primary:'Readex Pro', sans-serif;
    --ff--secondary:'Open Sans', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light:white;
    --clr-dark:rgb(32, 31, 31);
    --clr-acent:rgba(143, 24, 24, 0.918);

    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.5rem;
    --fs-body:1rem;
}

@media (min--width: 800px) {
    :root{
        --fs-h1:4.5rem;
        --fs-h2:3.75rem;
        --fs-h3:1.5rem;
        --fs-body:1.125rem;
    }
    
}

body{
    background: var(--clr-dark);
    background-image: url(resorces/img/823503.jpg);
    background-size: cover;
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img{
    display: block;
    max-width: 100%;
}
strong{
    font-weight: var(--fw-bold);
}

section{
    padding: 2em 1em;
}

h1,h2,h3 {
    line-height: 1.1;
    margin: 0;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}


.intro{
    background-color:var(--clr-light);
    
    background-size: cover;
    
}
.section__title {

    margin-bottom: 0.25em;
}
.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__subtitle{
    
    margin: 0;
    font-size: var(--fs-h2);
}
.section__subtitle--intro{
    color: aliceblue;
}
.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-acent);
    font-family: var(--ff--secondary);

}
.section__title--about{
    font-size: 2em;
}

/* nav{
    display: none;
   
} */
ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    

}

li{
    float: left;
    gap: 3rem;
    
    

}

li a{
    display: block;
    color: crimson;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
li a:hover{
    background-color: crimson;
    color: black;
}

.intro {
    position: relative;
    color: var(--clr-dark);
}

@media (min--width: 600px) {
    .intro{
       display: grid;
       width: min-content;
       margin: 0 auto;
       grid-column-gap: 1em;
       grid-template-areas:
       "img title"
       "img subtitle"
       ; 
       grid-template-columns: min-content max-content;
       grid-auto-flow:row;

    }
    .profile__pic{
        grid-area:img;
        min-width: 300px;
    }

    .section__subtitle--intro{
        align-self: flex-start;
        -ms-grid-column-span: -1/1;
        grid-row: 2;
        text-align: center;
        

        
        
    }
    
}

:focus{
    outline: 3px solid var(--clr-acent);
    outline-offset: 3px;
}
.my_intrests{
    
    max-width: 2000px;
    margin: 0 auto;
    margin-bottom: 4em;
    background-color: var(--clr-dark);
    background-image: url(resorces/img/download.png);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
    font-size: 1.5em;
}
.section__title--intrests{
    color: crimson;
    position: relative;
    font-size: 3em;
}
.section__title--intrests::after{
    color: '';
    display: block;
    width: 2rem;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}
@media (min--width = 800px) {
    .my_intrests{
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }
    .my_intrests + .my_intrests{
        margin-left: 2rem;
    }
    
   
    
}

.about_me{
    max-width: 2000px;
    margin: 0 auto;
    font: 2em sans-serif;
    margin-bottom: 4em;
    background-color: var(--clr-dark);
    background-image: url(resorces/img/756433.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: aliceblue;
    text-align: center;

}
.section__title--about{
    color: goldenrod;
    position: relative;
    
}
.section__title--about::after{
    color: '';
    display: block;
    width: 2rem;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

@media  (min--width=600px){
    .about_me{
        display: flex;
        max-width: 1000px;
        margin: 0 auto;

    }
    .about_me + .about_me{
        margin-left: 2rem;
    }
    
}

.neural__img--01{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: var(--clr-dark);
    
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
    
}
.heading__title{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color:rgba(53, 127, 170, 0.52);
    
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;

}
.heading__title::after{
    color: '';
    display: block;
    width: 2rem;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}
@media  (min--width=600px){
    .heading__title{
        display: flex;
        max-width: 1000px;
        margin: 0 auto;

    }
    .heading__title + .heading__title{
        margin-left: 2rem;
    }
    
}
.about__img{
     max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 0;
    background-color: var(--clr-dark);
    
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}
.layer__img{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: var(--clr-dark);
    
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}
.section__title--layers,.section__title--title,.section__title--uses,.intrest__txt{
    color: goldenrod;
}
.about__nerual,.layers__intro,.nerouns__intro,.uses__neural{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 1rem;
    
    font-size: 1.5rem;
    background-size: cover;
    background-blend-mode: multiply;
    
    text-align: center;
}



/* Blog */
.my_blogs{
    max-width: 2000px;
    margin: 0 auto;
    font: 2em sans-serif;
    margin-bottom: 4em;
    background-color: #333;
    background-image: url(resorces/img/Domain_Spiral_Abyss_Abyssal_Moon_Spire.png);
    background-size: contain;
    background-blend-mode: multiply;
    color: aliceblue;
    text-align: center;
    
}

.section__title--blogs{
    text-align: center;
    color: goldenrod;
    font-size: 3em;
}
.port__img--1{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 0;
    background-color: var(--clr-dark);
    
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.card {
  /* Add shadows to create the "card" effect */
  max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 0;
    background-color: var(--clr-dark);
    
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* footer */
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0;
    background-image: url("resorces/img/wp8761125.png");
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    
    
}
.section__title--contact{
    color: crimson;
}
.contact{
    color: goldenrod;
}

/* portfolio 2 */

.about__genshin{
    max-width: 2000px;
    margin: 0 auto;
    margin-bottom: 4em;
    
    
    
    color: var(--clr-light);
    text-align: center;
    font-size: 1.5em;
}

img{
    max-width: 2000px;
    margin: 0 auto;
    margin-bottom: 4em;
    
    
    
    
    color: var(--clr-light);
    text-align: center;
    font-size: 1.5em;
}
.genshin--txt{
    margin-left: auto;
    margin-right: auto;
    width: 60em
}
.gen__img--3,.gen__img--4,.gen__img--5,.gen__img--7,.gen__img--8,.vs__img--1,.gen__img--6{
     max-width: 100%;
  height: auto;
}
.gen__img--1{
   max-width: 100%;
  height: auto;
  

  
}

    
    
